body {
  background-color: #f0fbfc;
  text-align: center;
}

h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
}

hr {
  border:none;
  border-top: 5px dotted #e3dfd5;
  color:#fff;
  background-color:#f0fbfc;
  width:3%;
  height:none;
  align: left;
}

table,
td,
th {
  border: solid 1px #17826b;
  background-color:#f7e9bc;
  padding: 10px;
  border-collapse: collapse;
  margin: 20px;
}

.home {
  border: 1px solid #ede8ec;
  border-radius: 20px;
  background-color: #6ffa5c;
  width: 15%;
}

.home:hover {
  background-color: #fa615c;
}

.chick {
  border: solid 1px #f7bce8;
  width: 10%;
  background-color: #def0ce;
}
