body {
  background-color:#fefffa;
    margin: 0 0 0 0;
    text-align: center;
}

.top-cloud {
  position: relative;
  left: 20%;

}

.bottom-cloud {
  position: absolute;
  top: 250px;
  left: 350px;
}
.top_container {
  padding: 30px;
  line-height: 2;
  background-color: #eaf6f6;
}

.middle-container {
padding-top: 30px;
margin-top: 100px;
}

.bottom-container {
  background-color: #66bfbf;
}

.footer {
  color: #eaf6f6;
}
h1 {
  font-family: sacramento, sans-serif;
  font-size: 350%;
  margin: 0 0 0 0;
  color: #66BFBF;
}

h2 {
  font-family: merriweather, engagement, arial;
  margin-top: 50px;
  font-size: 2.25rem;
  color: #66BFBF;
  }

  p {
    color: #40514e;
  }
  hr {
    height: 0px;
    width: 5%;
    border-top: 10px dotted #eaf6f6;
    border-bottom: none;
    border-left: none;

    margin: 100px auto;
  }

  .yesco {
    color: #06686b;
  }

.pro-img {
  width: 10%;
  border-radius: 100%

}

.skill-img {
  width: 20%;
  border-radius: 10px;
  transform: rotate(330deg);
  float: left;
  margin-right: 60px;
  position: relative;
  bottom: 50px;
  border-radius: 100%;

}

.font {
  font-weight: normal;
}

.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #2c46b8);
  background-image: -moz-linear-gradient(top, #d93434, #2c46b8);
  background-image: -ms-linear-gradient(top, #d93434, #2c46b8);
  background-image: -o-linear-gradient(top, #d93434, #2c46b8);
  background-image: linear-gradient(to bottom, #d93434, #2c46b8);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  -webkit-box-shadow: 8px 10px 11px #666666;
  -moz-box-shadow: 8px 10px 11px #666666;
  box-shadow: 8px 10px 11px #666666;
  font-family: merriweather, engagement, arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skill-row {
  width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}

.skill-img1 {
width: 20%;
float: right;
margin-left: 30px;
border-radius: 100%;

}

.btn:hover {
  background: #2bff00;
  background-image: -webkit-linear-gradient(top, #2bff00, #ff0000);
  background-image: -moz-linear-gradient(top, #2bff00, #ff0000);
  background-image: -ms-linear-gradient(top, #2bff00, #ff0000);
  background-image: -o-linear-gradient(top, #2bff00, #ff0000);
  background-image: linear-gradient(to bottom, #2bff00, #ff0000);
  text-decoration: none;
}
.contact-me {
  margin: 50px;
}

a {
  text-decoration: none;
}
.footer-link:hover {
  color: white;
}
